#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat';
  background-color: #f1f2f6;
  background-image: linear-gradient(135deg, #f1f2f6 0%, #c9c6c6 74%);
  min-height: 100vh;
}

.btn-bug-primary {
  --bs-btn-color: #212529;
  --bs-btn-bg: hsl(0, 3%, 78%) !important;
  --bs-btn-border-color: hsl(0, 3%, 78%);
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: hsl(0, 3%, 6%);
  --bs-btn-hover-border-color: hsl(0, 3%, 68%);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: hsl(0, 3%, 68%);
  --bs-btn-active-border-color: hsl(0, 3%, 58%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: hsl(0, 3%, 78%);
  --bs-btn-disabled-border-color: hsl(0, 3%, 78%);
}

button:hover, .btn-bug-primary:hover {
  background-image: linear-gradient(135deg, #f1f2f6 0%, #e0dddd 74%) !important;
  transform: scale(105%, 105%);
  transition: all 0.25s;
}

.error {
  margin-top: 1em;
}

.home-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  min-height: 93vh;
  border-radius: 0% !important;
  background-color: #f7f2f2;

}

.home-card {
  display: flex !important;
  flex-direction: row !important;
  gap: 5em;
  margin: 0 auto;
  width: 80vw;
  height: 80vh !important;
}

.home-body-1, .home-body-2 {
  display: flex;
  flex-direction: column;  
}

.home-body-1 {
  justify-content: space-around;
  width: 50% ;
  margin: 0 auto;
}

.home-body-2 {
  justify-content: center;
  width: 50%;
  height: 70%;
  margin: auto 0;
}

.home-title-container {
  height: 20%;
}

.home-title {
  font-size: 4em !important;
}

.home-description-container {
  height: 40%;
  text-align: left;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.home-button {
  width: 50%;
  margin: 0 auto;
}

.title {
  font-family: 'Montserrat';
}

.leftAlign {
  text-align: left;
}

.dark-text {
  color: #333333;
}

.light-text {
  color: #CCCCCC;
}

.blue-gradient {
  background-image: linear-gradient(#2962FF , #6088f4);
  color: #fff;
}

.blue-gradient > * > * {
  color: white;
}

.silver-gradient {
  background-color: #f1f2f6 !important;
  background-image: linear-gradient(135deg, #f1f2f6 0%, #c9c6c6 74%) !important;
}

@media screen and (max-width: 994px){
  .view-project h5 {
    font-size: 1em !important;
    margin: 0 auto !important;
  }

  .buglist {
    width: 90% !important;
  }

  .userlist {
    width: 50% !important;
    margin: 0 auto !important;
  }

}

@media screen and (max-width: 1150px){
  
  .home-card {
    flex-wrap: wrap;
  }

}